/* Your styles here */

*{
    box-sizing: 0;
}

body{
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9EDEE;
}

.sfondo-logo{
    background-color: #222F3F;
    color: white;
}

.menu-sopra{
    background-color:#364759;
    color: white;
}

.logo-background img{
    width: 200px;
    padding: 10px 25px;
}

header ul{
    padding:  0 25px;
}

header ul li{
    display: inline-block;
    padding: 10px 20px 10px 0;
}

header ul li a{
    text-decoration: none;
    color: white;
}

header ul li a:hover{
    text-decoration: underline;
}

main{
    padding: 0 25px;
}

main section{
    margin-bottom: 25px;
    margin-top: 25px;
}

main .striscia-arancione{
    background-color: #F56600;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
}

main .coso-verdino{
    background-color: green;
    background-image: url(../images/bg-image.png);
    text-align: center;
    color: white;
    padding: 60px 0 40px 0;
}

main .coso-verdino h1{
    padding-top: 10px;
    font-weight: bold;
    font-size: 2rem;
}

main .coso-verdino h4{
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
}

main .card-block-text{
    padding: 20px 0 0 20px;
    text-align: left;
}

main .card-block-text p{
    display: inline;
    font-size: 1.1rem;
}

main .card-block-text a{
    display: inline;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px;
}

main .card-block{
    width: 100%;
    background-color: white;
    text-align: center;
}

main .card-block .card{
    width: 100%;
    display: inline-block;
}

main .card-block .card img{
    margin: 15px;
    width: 22%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 3px 6px 20px -8px rgba(0, 0, 0, 0.5);
}

main .one-card-block{
    text-align: center;
}

main .one-card-block p{
    display: inline;
    font-size: 1.1rem;
}

main .one-card-block a{
    display: inline;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

main .one-card-block img{
    width: 100%;
}

footer .backontop{
    text-align: center;
    padding: 15px;
}

footer .backontop a{
    color: white;
    font-weight: bold;
}

footer .footer-logo{
    text-align: center;
    padding: 50px;
}

footer .footer-logo img{
    width: 200px;
}

.link-color{
    color: #0f778a;
}
